extends layout.pug

block stylesheets
	link(rel='stylesheet' href='/stylesheets/login.css')/
	
block content
	div#login-container.d-flex.flex-column.align-items-center.justify-content-center
		form#login-form.d-flex.flex-column.justify-content-center.align-items-center(method='POST' action='/login')
			div.form-group
				label(for='user') Username
				input.form-control(type='text' name='user' required)
				if notExists
					small.form-text.text-danger User doesn't exist
			div.form-group
				label(for='password') Password
				input.form-control(type='password' name='password' required)
				if failed
					small.form-text.text-danger Wrong credentials
			div.form-group
				input.btn.btn-primary.form-control(type='submit' value='Submit')
