extends layout

block content
	div.container
		form
			div.form-group
				label(for='username')
				input.form-control(type='text' placeholder='Username' name='username')
			div.form-group
				label(for='password')
				input.form-control(type='text' placeholder='Password' name='password')
