* {
  box-sizing: border-box;
}

@media (max-width: 420px) {
  :root {
	--side-menu-width: 100%;
  }
  #task {
		margin-bottom: 0.5em;
  }
}
@media (min-width: 420px) and (max-width: 800px) {
  :root {
	--side-menu-width: 50%;
  }
  #task {
		margin-right: 0.5em;
  }
}

@media (min-width: 800px) {
  :root {
	--side-menu-width: 15%;
  }
  #task {
		margin-right: 0.5em;
  }
}

a {
  color: #00B7FF;
}

.done h4 {
  text-decoration: line-through;
}
.ongoing img:hover {
  cursor: pointer;  
}

@keyframes slide-open {
  from {
	width: 0%;
  }

  to {
	width: var(--side-menu-width);
  }
}

#side-menu {
  width: 0%;
  overflow: hidden;
  background: #e0e0d1;
  position: fixed;
  z-index: 1;
  left: 0;
}

#side-menu.open {
  width: var(--side-menu-width);
  animation-name: slide-open;
  animation-duration: 0.5s;
}

#side-menu-button:hover {
  cursor: pointer;
}

#side-menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

#side-menu-button div {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 5px;
}

div.remove {
  justify-content: space-evenly;
  width: 40px;
  height: 1rem;
  margin-top: .75rem;
  margin-bottom: .75rem;
}

div.remove:hover {
  cursor: pointer;
}

div.remove div {
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background-color: var(--red);
}

#groups-container .active {
	color: var(--blue);
}

#groups-container div[gid] p:hover {
	cursor: pointer;
}

#list-container div {
	display: none;
}

#list-container .active {
	display: block !important;
}

#list-container>div>div>h4 {
	overflow: hidden;
	overflow-wrap: break-word;
}
